$background-app: #0F0F0F;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: $background-app;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}