<section>
  <div class="info">
    <a href="#">
      <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
      Home
    </a>
  </div>
  <form>
    <div class="sign-up">
      <h3>{{ isLogin ? "Login to Tracker" : "Sign up to Tracker" }}</h3>
      <hr />
    </div>
    <input *ngIf="!isLogin" type="text" placeholder="Name" id="" />
    <input type="email" placeholder="Email" id="" />
    <input type="password" placeholder="Password" id="" />
    <button type="submit">{{ isLogin ? "Sign in" : "Create Account" }}</button>

    <div class="sign-in">
      {{ isLogin ? "Not a member?" : "Already a member? " }}
      <button (click)="login($event)">
        {{ !isLogin ? "Sign In" : "Sign up now" }}
      </button>
    </div>
  </form>
  <div class="secondary">
    <img src="assets/logo.svg" class="logo" alt="logo" width="120" />
    <img src="assets/figure-dark.svg" class="figure" alt="figure" width="200" />
    <br />
  </div>
</section>
